<div id='common_text'>
	<h1>Menu items</h1>
<p><%= link_to("Users list", users_path)  if current_user.is_admin? -%></p>
<p><%= link_to("Blogs list", blog_posts_path) -%></p>
<p><%= link_to("Categories list", categories_path) -%></p>
<p><%= link_to("Tags list", tags_path) -%></p>
</div>