<div class='header'><h1><%= "Showing blog posts category" %></h1></div>

<hr />
<div class="main_class">
	<%= "No posts under this category" if @records.blog_posts == [] %>
	<%= render :partial => '/blog_posts/blog_post', :collection => @records.blog_posts %>
	<%= link_to "Create new #{@records[0].class}", new_blog_post_path unless @records.blog_posts == [] -%>
</div>
</div>